body{
	background-color: green;
	background-size: cover;
}
#Header{
     color: white;
	 text-align: center;
	 font-size: 50px;
}
#logo{
	width: 80px;
	height: 100px;
	position: absolute;
}
#side{
	width: 200px;
	height: 1200px;
	position: absolute;
	margin-top: 10%;
}
#deal12{
	display: inline-block;
	position: absolute;
	top: 45%;
	left: 37%;
}
#deal34{
	display: inline;
	position: absolute;
	top: 95%;
	left: 37%;
}
#deal12 img{
	width: 300px;
	height: 300px;
}
#deal34 img{
	width: 300px;
	height: 300px;
}
.indext1{
	position: absolute;
	font-size: 1em;
	color: white;
	left: 35%;
	top: 135%;
}
.indext2{
	position: absolute;
	font-size: 1em;
	color: white;
	left: 60%;
	top: 80%;
}
.indext3{
	position: absolute;
	font-size: 1em;
	color: white;
	left: 35%;
	top: 80%;
}
.indext4{
	position: absolute;
	font-size: 1em;
	color: white;
	left: 60%;
	top: 135%;
}
#linksgames{
	display: grid;
	position: absolute;
	top: 30%;
	left: 23%;
	grid-row-gap: 20px; 
}
#linksgames img{
	width: 150px;
	height: 200px;
}
#linkstext{
	display: grid;
	font-size: 16px;
	color: white;
	position: absolute;
	top: 30%;
	left: 40%;
	grid-row-gap: 170px;
}
#allgames{
	display: grid;
	position: absolute;
	top: 30%;
	left: 23%;
	grid-row-gap: 20px; 
}
#allgames img{
	width: 150px;
	height: 200px;
}
.allconsoles{
	display: grid;
	font-size: 16px;
	color: white;
	position: absolute;
	top: 30%;
	left: 40%;
	grid-row-gap: 120px;
}
#allconsoles{
	display: grid;
	position: absolute;
	top: 30%;
	left: 23%;
	grid-row-gap: 120px; 
}
#allconsoles img{
	Width: 200px;
	height: 100px;
}
#controllers{
	display: grid;
	position: absolute;
	top: 30%;
	left: 23%;
	grid-row-gap: 120px; 
}
.controller-text{
	display: grid;
	font-size: 16px;
	color: white;
	position: absolute;
	top: 30%;
	left: 40%;
	grid-row-gap: 120px;
}
#controllers img{
	width: 200px;
	height: 100px;
}
.game-text{
	display: grid;
	font-size: 16px;
	color: white;
	position: absolute;
	top: 35%;
	left: 39%;
	grid-row-gap: 100px;
}
.contact-text{
	color: white;
	border-style: solid;
	border-width: 5px;
	position: absolute;
	width: 700px;
	height: 150px;
	left: 27%;
	top: 40%;
}
footer{
	display: inline;
	position: absolute;
	top: 150%;
	left: 40%;
	float: left;
}
footer img{
	width: 100px;
	height: 100px;
	left: 40px;
	padding: 15px;
}
#Navigation{
	background-color: #00ff00;
	position: absolute;
	text-align: center;
	width: 70%;
	height: 50px;
	left: 20%;
}
#Navigation a{
	color: white;
	font-size: 30px;
	text-decoration: none;
	padding: 30px;
}
#Navigation a:hover{
	text-decoration: underline;
}
#button1{
	height: 50px;
	width: 100px;
	position: absolute;
	left: 85%;
	top: 35%;
}
#button2{
	height: 50px;
	width: 100px;
	position: absolute;
	left: 85%;
	top: 55%;
}
#button3{
	height: 50px;
	width: 100px;
	position: absolute;
	left: 85%;
	top: 80%;
}